body, html {
    height: 100%;
}
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.signup-form {
    width: 400px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.id-check-row {
    display: flex;
    align-items: end;
}
.error-message {
    color: red;
    font-size: 0.9em;
    display: block; /* 각 메시지가 새로운 줄에 표시되도록 */
    margin-top: 5px;
}